/* Universal Defaults */
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Futura Md BT';
}

.logo{
    height: 150px;
    width: 120px;
}



/* Body */
.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-7{
    margin-left: 70px;
    margin-right: 70px;
}
.container{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    margin-top: 20px;
}

/* Intro */

.intro-card{
    width: 50%;
}
.intro-content{
    line-height: 2em;
}
.intro-text-title{
    font-size: 60px;
}
.intro-text-body{
    position: absolute;
}

/* Body Nav */
.body-nav{
    position: absolute;
    bottom: 15%;
    padding-left: 0;
    list-style: none;
    line-height: 30px;
}
.body-nav-items{
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Designer Line */

.design{
    display: flex;
    align-items: flex-end;
}

.line{
    position: absolute;
    height: 50vh;
    width: 2px;
    background: black;
    margin-right: 80px;
    top: 20%;
    right: 0%;
}

.line-desc{
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    right: 42px;
    top: 75%;
}